<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        AgroControl ERP
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <aside class="sidebar">
        <h2>🌱 AgroControl</h2>

        <nav>

            <a href="/" class="active">
                📊 Dashboard
            </a>

            <a href="/custos">
                💰 Custos
            </a>

            <a href="/financiamento">
                🏦 Financiamento
            </a>

            <a href="/conversor">
                💻 Conversor
            </a>

            <a href="/talhoes">
                🚜 Talhões
            </a>

            <a href="/fertilizante">
                🌱 Fertilizantes
            </a>

        </nav>
    </aside>

    <main class="content">
        <header class="topbar">

        <div class="search-box">
            <input
                type="text"
                placeholder="Pesquisar módulo..."
            >
        </div>

        <div class="topbar-right">

            <div class="user-profile">
                <div class="avatar">
                    LK
                </div>

                <div>
                    <strong>{{ session.get('usuario_nome') }}</strong>
                    <p>Usuário</p>
                </div>
                    <button id="tema-btn"class = "tema-btn">
                        🌙
                    </button>
                    
            </div>
            <a href="/logout">Sair</a>
        </div>

    </header>
        {% block content %}
        {% endblock %}

    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

