<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        AgroControl ERP
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <aside class="sidebar">
        <h2>🌱 AgroControl</h2>

        <nav>

            <a href="/" class="active">
                📊 Dashboard
            </a>

            <a href="/custos">
                💰 Custos
            </a>

            <a href="/financiamento">
                🏦 Financiamento
            </a>

            <a href="/conversor">
                💻 Conversor
            </a>

            <a href="/talhoes">
                🚜 Talhões
            </a>

            <a href="/fertilizantes">
                🌱 Fertilizantes
            </a>

        </nav>
    </aside>

    <main class="content">
        <header class="topbar">

        <div class="search-box">
            <input
                type="text"
                placeholder="Pesquisar módulo..."
            >
        </div>

        <div class="topbar-right">

            <span class="notification">
                🔔
            </span>

            <div class="user-profile">
                <div class="avatar">
                    LK
                </div>

                <div>
                    <strong>Leandro</strong>
                    <p>Administrador</p>
                </div>
            </div>

        </div>

    </header>
        {% block content %}
        {% endblock %}

    </main>

</body>
</html>