<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    
    <title>
        {% block title %}
        AgroControl ERP
        {% endblock %}
    </title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <aside class="sidebar">
        <h2>🌱 AgroControl</h2>
    {% if session.get('usuario_id') %}
        <nav>

            <a href="/" class="active">
                📊 Dashboard
            </a>

            <a href="/custos">
                💰 Custos
            </a>

            <a href="/financiamento">
                🏦 Financiamento
            </a>

            <a href="/conversor">
                💻 Conversor
            </a>

            <a href="/talhoes">
                🚜 Talhões
            </a>

            <a href="/fertilizante">
                🌱 Fertilizantes
            </a>

        </nav>
            {%endif%}
    </aside>

    <main class="content">
        {% if session.get('usuario_id') %}

        <header class="topbar">




        <div class="topbar-right">
            <button class= "menu-btn" id="menu-btn">
                ☰
            </button>

            <div class="user-profile">
                <div class="avatar">
                    {{ session.get('usuario_nome')[0].upper() }}
                </div>

                <div>
                    <strong>{{ session.get('usuario_nome') }}</strong>
                    <p>Usuário</p>
                </div>
                    <button id="tema-btn"class = "tema-btn">
                        🌙
                    </button>
                    
            </div>
            <a href="/logout" class="btn-sair">Sair</a>
        </div>
    {%endif%}

    </header>
        {% block content %}
        {% endblock %}

    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>