{% extends 'base.html' %}
{% block title %}
    Custos

{% endblock %}

{% block content %}

<h1>Custos de Produção</h1>

<form action="/custos" method="POST">
    <label>Custo fixo: </label>
    <input type="number" name="custo_fixo" required value='{{custo_fixo}}'>

    <label>Custo Variável: </label>
    <input type="number" name="custo_variavel" required value='{{custo_variavel}}'>

    <label>Quantidade: </label>
    <input type="number" name="quantidade" required value='{{quantidade}}'>

    <button type='submit'>
        Calcular
    </button>
</form>      

{% if erro %}
<p>
    {{ erro }}
</p>
{% endif %}


{% if resultado is not none%}

<p>
    Resultado:
    R$ {{ resultado }}
</p>

{% else %}

<p>
    Preencha os dados para calcular
</p>

{% endif %}

<p>
    Outros Calculos:
</p>
<hr>

{% for calculo in busca %}

<div>
    <p>Custo fixo: R$ {{ calculo[0] }}</p>
    <p>Custo variável: R$ {{ calculo[1] }}</p>
    <p>Quantidade: {{ calculo[2] }}</p>
    <p>Resultado: R$ {{ calculo[3] }}</p>
    <p>Data: {{ calculo[4] }}</p>
</div>


<form method="POST" action="/deletar-calculo">

<input type="hidden"
    name="id"
    value="{{ calculo[5] }}">

<button type="submit">
    Excluir
</button>
</form>
<hr>
{% endfor %}


<a href="/">Voltar</a>

{% endblock %}