{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}

{% block content %}

<h1>Login</h1>
<div class='container'>
    <form action="/login" method="POST">

        <label>Email:</label>
        <input type="email" name="email" required value="{{ email }}">

        <label>Senha:</label>
        <input type="password" name="senha" required value="{{ senha }}">

        <button type="submit" class='submit'>
            Entrar
        </button>

    </form>
</div>
<div class='opcoes'>
    <a class="btn-voltar" href="/cadastrar-usuario">
        Cadastrar
    </a>

    <a class="btn-voltar" href="/">
        ← Voltar
    </a>
</div>

{% if erro %}
    <p class="erro">
        {{ erro }}
    </p>
{% endif %}

{% endblock %}