{% extends 'base.html' %}
{% block title %}
    Gestão de Talhões

{% endblock %}

{% block content %}

<div class="container">


    <div class="card-form">

        <h1>Talhões</h1>
        <form action="/talhoes" method="POST">

            
            <label>Nome do talhão</label>
            <input
                type="text"
                name="nome_talhao"
                required
                value="{{ nome_talhao }}"
            >

            <label>Área (ha)</label>
            <input
                type="number"
                name="area"
                required
                step="0.01"
                value="{{ area }}"
            >

            <label>Produtividade (sacas/ha)</label>
            <input
                type="number"
                name="produtividade"
                required
                step="0.01"
                value="{{ produtividade }}"
            >

            <button type="submit" class='submit'>
                Calcular
            </button>

        </form>

    </div>

    {% if erro %}
        <p class="erro">
            {{ erro }}
        </p>
    {% endif %}


</div>
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for mensagem in mensagens %}
                <div class="mensagem-sucesso">
                    {{ mensagem }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% if busca %}
<div class="historico">

{% for talhao in busca %}

    <div class="card-calculo">

        <p><strong>Talhão:</strong> {{ talhao[1] }}</p>

        <p><strong>Área:</strong>
            {{ "%.2f"|format(talhao[2]) }} ha
        </p>

        <p><strong>Produtividade:</strong>
            {{ "%.2f"|format(talhao[3]) }} sacas/ha
        </p>

        <p><strong>Produção estimada:</strong>
            {{ "%.2f"|format(talhao[5]) }} sacas
        </p>

        <p><strong>Data:</strong>
            {{ talhao[4] }}
        </p>

        <div class="acoes">

            <a
                class="btn-editar"
                href="/editar-talhao/{{ talhao[0] }}"
            >
                Editar
            </a>

            <form method="POST" action="/deletar-talhao">

                <input
                    type="hidden"
                    name="id"
                    value="{{ talhao[0] }}"
                >

                <button
                    class="btn-excluir"
                    type="submit"
                    onclick="return confirm('Deseja realmente excluir este talhão?')"
                >
                    Excluir
                </button>

            </form>

        </div>

    </div>

{% endfor %}

</div>

{% else %}

<p>Nenhum talhão encontrado.</p>

{% endif %}
</div>

<a class="btn-voltar" href="/">
    ← Voltar ao Dashboard
</a>

{% endblock %}